<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAez_k8NixlQ5Xgc0nr1N3EG3aJ-U0ZIG4</string>
	<key>GCM_SENDER_ID</key>
	<string>774887241831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CS498.AudioYikYak</string>
	<key>PROJECT_ID</key>
	<string>audioyikyak</string>
	<key>STORAGE_BUCKET</key>
	<string>audioyikyak.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774887241831:ios:26c5bc6abff4ce45ecbcc2</string>
</dict>
</plist>